.file-item {
  padding-left: 25px;
  background-color: gray;
  /* display: flex;
  flex-direction: column;
  width: 100%;
  position: relative; */
  /* left: -20px; */
  /* width: 100%; */
}

/* .file-item:hover {
  background-color: red;
} */

.file-item.selected {
  background-color: blue;
}

.item-details {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
